div{
    display : block;
}
#header{
    padding : 62px 0px 59px;
    text-align: center;
}
.join_title{
    margin: 19px 0px 8px;
    font-size: 14px;
    font-weight: 700;
}
#container, #footer, #header{
    margin: 0 auto;
    max-width: 500px;
    max-height: 460px;
}
#header.join_membership{
    padding-bottom: 20px ;
}
body, button, input, select, table, textarea {
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    font-size: 12px;
    webkit-text-size-adjust: none;
}
.btn_type.primary{
    color: #fff;
    background-color: #bd2130;
}
.int.phone{
    font-size: 20px;
    text-align: center;
}
div.row_group {
    overflow: hidden;
    width: 100%;
}
.ps_box, .ps_box_disable {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
button, input, select, textarea {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#email.int{
    width: 300px;
}
.ps_box.mobile{
    width: 146px;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}
.error_next_box {
    display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}
.sel {
    width: 100%;
    height: 29px;
    padding: 7px 8px 6px 7px\9;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    *height: auto;
    *margin-top: 3px;
    -webkit-appearance: none;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    -webkit-background-size: 20px 8px;
    background-size: 20px 8px;
}
.gender_nationality .gender_code, .join_mobile .country_code, .join_sex .gender_code {
    display: block;
    width: 100%;
    padding-right: 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn_type {
    display: block;
    width: 100%;
    padding: 21px 0 17px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.step_url {
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}
.phone_1, .phone_2, .phone_3 {
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
    *display: block;
    *float: left;
}
.phone_2, .phone_3{
    padding-left: 10px;
}
input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
}
.phone_wrap{
    display: table;
    width: 100%;
}
.btn_area {
    margin: 30px 0 9px;
}